.abouttitle {
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20 px;
}

.video-container {
    text-align: center;
}

.video-container video {
    width: 80%;
    max-width: 800px;
    height: auto;
}

.imgtextContainer {
    display: flex;
    padding: 2em;
    align-items: center;
    font-size: 1.2em;
    text-align: justify;
    margin: 15px;
    background-color: rgb(254, 139, 8);
    border-radius: 10px;
    img {
        width: 250px;
        padding: 20px;
    }
}
