.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: darkslategray;
    color: lightcyan;
}

.logoSection {
    display: flex;
    flex-direction: row;
    img {
        width: 90px;
        height: 90px;
        padding: 20px 0 20px 60px;
    }
}

.linksSection {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 40px;
    gap: 2em;
    font-size: 1.3em;
    color: cadetblue;
    text-shadow: 2px 2px 4px black;
    span:hover {
        color: white;
        cursor: pointer;
    }
}

.loginSection {
    display: flex;
    flex-direction: row;
    img {
        width: 50px;
        height: 90px;
        padding: 40px 60px 0 0;
    }
}