.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(254, 139, 8), rgb(254, 139, 8));
    color: lightcyan;
    margin-bottom: 40px;
}

.logoSection {
    display: flex;
    flex-direction: row;
    img {
        width: 200px;
        height: 180px;
        padding: 20px 0 20px 60px;
    }
}

.linksSection {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 66px;
    gap: 2em;
    font-size: 1.3em;
    color: white;
    text-shadow: 2px 2px 4px black;
    span:hover {
        color: rgb(254, 106, 8);
        cursor: pointer;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    a:hover {
        text-decoration: none;
        color: inherit;
    }
}

.loginSection {
    display: flex;
    flex-direction: row;
    img {
        width: 146px;
        height: 142px;
        padding: -3px 0 38px 60px;
        margin: 26px 66px 0px 0px;
    }
}